node_modules/
client/dist/bundle.js
coverage/
fakeBulkProjects.json
bulkProjects.csv
images/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
config.js
